.stats
.statsrun
examples/declaration-server-distributed/test.xml
examples/declaration-test/main.log
examples/flickr/Exif/riddl.new.jpg
examples/flickr/Flickr/.dont
examples/flickr/Flickr/.flickr.frob
examples/flickr/Flickr/.flickr.key
examples/flickr/Flickr/.flickr.secret
examples/flickr/Flickr/.flickr.token
examples/twitter/.dont
examples/twitter/.twitter.consumer_key
examples/twitter/.twitter.consumer_secret
examples/twitter/.twitter.token
examples/twitter/.twitter.token_secret
examples/twitter/.twitter.user_id
examples/twitter/impl
examples/xmpp/blather/
examples/zotero/.dont
examples/zotero/.vimrc
examples/zotero/.zotero.consumer_key
examples/zotero/.zotero.consumer_secret
examples/zotero/.zotero.token
examples/zotero/.zotero.token_secret
examples/zotero/.zotero.user_id
examples/zotero/litlist.html
pkg/
stats/
