<description datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" xmlns="http://riddl.org/ns/description/1.0" xmlns:xi="http://www.w3.org/2001/XInclude">

  <message name="verify_in">                                                                                                                                                                                                                                        
    <parameter name="code" type="string"/>
  </message>

  <message name="verify_out">
    <parameter name="data" mimetype="application/json"/>
  </message>

  <message name="refresh_token_in">
    <parameter name="grant_type" fixed="refresh_token"/>
    <!-- <parameter name="client_id" type="string"/> -->
    <parameter name="refresh_token" type="string"/>
  </message>

  <message name="refresh_token_out">
    <parameter name="data" mimetype="application/json"/>
  </message>

  <message name="revoke_in">
    <parameter name="token" type="string"/>
  </message>

  <resource>
    <documentation xmlns="http://riddl.org/ns/documentation/1.0" summary="Federated UNIVIE OAuth2 Slave.">
# Federated UNIVIE OAuth2 Slave - FU:AUTH

Works only in conjunction with the UNIVIE OAuth2 Master. Allows you to:
* Verify requests.
* Get tokens and refresh tokens.
* Logout (revoke) tokens.
    </documentation>
    <get>
      <documentation xmlns="http://riddl.org/ns/documentation/1.0" summary="Check if your client is correctly authenticated. 20x good, everything else bad."/>
      <example xmlns="http://riddl.org/ns/documentation/1.0"></example>
    </get>
    <resource relative="verify">
      <documentation xmlns="http://riddl.org/ns/documentation/1.0" summary="Verify requests from the FU:AUTH Master."/>
      <post in="verify_in" out="verify_out"/>
    </resource>
    <resource relative="token">
      <documentation xmlns="http://riddl.org/ns/documentation/1.0" summary="Get and refresh tokens."/>
      <post in="refresh_token_in" out="refresh_token_out"/>
    </resource>
    <resource relative="revoke">
      <documentation xmlns="http://riddl.org/ns/documentation/1.0" summary="Logout."/>
      <get in="revoke_in"/>
    </resource>
  </resource>

</description>
