.errorText {
  font-size: 1.3em;
  margin: 1cm;
  color: red;
  text-align: center;
  vertical-align: middle;
}

.infoText {
  font-size: 1.3em;
  margin: 0.5cm;
  text-align: center;
  vertical-align: middle;
  color: black;
  font-weight: bold;
}

.formLabel {
  font-size: 1.3em;
  margin: 0.1cm 0.3cm;
  vertical-align: middle;
  color: black;
}

.result {
  font-size: 1em;
  margin: 0.1cm 0.3cm;
  vertical-align: middle;
  text-align: left;
}

.address {
  font-size: 1.3em;
  text-align: center;
  vertical-align: middle;
  color: black;
}

.redButton,
.greenButton,
.whiteButton {
  display: block;
  border-width: 0 12px;
  text-align: center;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: inherit;
  margin: 0.5cm;
}

.redButton {
  -webkit-border-image: url(redButton.png) 0 12 0 12;
  text-shadow: rgba(255, 255, 255, 0.7) 0 1px 0;
  color: red;
}

.greenButton {
  -webkit-border-image: url(greenButton.png) 0 12 0 12;
  text-shadow: rgba(255, 255, 255, 0.7) 0 1px 0;
  color: green;
}

.sep {
  background-color: rgb(154,159,170);
  padding: 0.1cm 0.3cm;
}

.head {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin: 0.5cm;
  color: #919191;
}
