div.resource {
    width            : 100px;
    height           : 20px;
    background-color : yellow;
}

#block1 {
    width            : 100px;
    height           : 100px;
    background-color : red;
    position         : absolute;
}
